<!DOCTYPE html>
<head>

</head>

<body>
  <div>
  <%= @attacker %> attacked <%= @being_attacked_name %>
  </div>
  <div>
    <%= @being_attacked_name %>: <%= @being_attacked_hitpoints %>HP
  </div>
  <div class="">
    <form class="" action="/play">
      <input type="submit" value="Play">
    </form>
  </div>
</body>
